header {
	width: 100%;
	height: 200px;
	background-size: cover;
	background-image: url("banner.jpg");
}

.quiz-question-section, .question-count {
	display: none;
}

.correct {
	font-weight: bold;
	color: red;
}

.hide {
	display:none;
}